.container-list-card{
  width: 80%;
  margin-top: 5rem;
  padding: 2rem;
}

.div-title{
  border-bottom: 1px rgb(32,156,238) solid;
  margin-bottom: 2rem;
}

.sub-title{
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.cards-list{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}
