.container-list-card{
  width: 80%;
  margin-top: 5rem;
  padding: 2rem;
}

.div-title{
  border-bottom: 1px blue solid;
  margin-bottom: 2rem;
}

.sub-title{
  margin-bottom: 2rem;
}

.cards-list{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
