
.div-title{
  font-size: 3rem;
  color: rgb(32,156,238);
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;  
  width: 50%;
  padding: 2rem;
  
  }
  .card {
    width: 60%;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: box-shadow 0.3s ease;

    &:hover{
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    }
  }
  
  .card-header img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .card-body {
    padding: 15px;
  }
  
  .card-body h2 {
    margin-top: 0;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .card-body p {
    margin: 0;
    color: #555;
    font-size: 1em;
    line-height: 1.6em;
    text-align: center;
  }
  .btn-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
  }
  
  .btn {
    display: inline-block;
    width: 50%;
    padding: 10px 15px;
    background-color: rgb(32,156,238);
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 1em;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }