
.background-image {
  position: relative;
  width: 80%;
  height: 300px;
  background-image: url('img.png');
  background-size: cover; /* Couvre toute la div */
  background-position: center; /* Centre l'image */
  border-radius: 8px;
  overflow: hidden;
}
.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour rendre le texte plus lisible */
  border-radius: 8px;
}

.colored-div {
  background-color: #00b606; /* Couleur de fond de la div */
  color: white; /* Couleur du texte */
  padding: 4px; /* Espacement interne de la div */
  border-radius: 8px; /* Coins arrondis */
  text-align: center; /* Centre le texte */
  max-width: 500px; /* Largeur maximale de la div */
}

.list1 {
  list-style-type: none; /* Enlève les puces par défaut */
  padding: 0;
  margin: 0;
  width: 300px;
}

.list1 li {
  padding: 10px;
  border-bottom: 1px solid #ddd; /* Ligne en bas de chaque li */
  color: #333;
}

.list1 li:last-child {
  border-bottom: none; /* Enlève la ligne du dernier élément */
}


.list2 {
  list-style-type: none; /* Enlève les puces par défaut */
  padding: 0;
  margin: 0;
  background-color: #ccc; /* Fond gris pour le ul */
  border-radius: 8px;
  width: 300px;
  overflow: hidden;
}